<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# 自定义模拟change_form.html继承自原模版change_form.html，自定义模板命名必须与源模板一致 #}
{% extends "admin/change_form.html" %}
{% load il8n admin_urls static admin_modify %}
{% block object-tools-items %}
{# 判断当前用户角色 #}
{% if request.user.is_superuser %}
<li>
{% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
{# 判断结束 #}
{% endif %}
{% if has_absolute_url %}
<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a> </li>
{% endif %}
{% endblock %}
</body>
</html>